textarea {
   resize: none;
}

.form {
   width: 600px;
   margin: 0 auto;
   padding: 20px;

   background-color: #eee;
   outline: 1px solid tomato;
}

.form-field {
   flex-basis: 100%;
   display: flex;
   margin-bottom: 8px;
   margin-right: 50px;
   /* justify-content: space-between; */
   outline: 1px solid teal;
}

.form-label {
   /* flex-grow: 1; */
   /* flex-shrink: 1; */

   flex-basis: 30%;
}

.form-input {
   /* flex-grow: 1; */
   margin-left: 10px;
}
