textarea {
   resize: none;
}

.form {
   width: 600px;
   margin: 0 auto;
   padding: 20px;

   background-color: #eee;
   /* outline: 1px solid tomato; */

   box-shadow: 0 0 10px 3px rgba(20, 40, 100, 0.4);
}
.form div + div {
   margin-top: 20px;
}

.form-field {
   flex-basis: 100%;
   display: flex;
   flex-direction: column;

   /* outline: 1px solid teal; */
}

.form-field + .form-field {
   margin-top: 10px;
}
/* 
.form-label {
   outline: 1px solid teal;
} 
*/

.form-input {
   text-align: left;
   /* margin: 0; */
   margin-top: 5px;
   padding: 5px 8px;
   border: 2px solid blue;
   border-radius: 6px;
}

.form-input::placeholder {
   color: #1a4a8a;
   font-style: italic;
}

/* ===== FORM-CHECK ===== */

/* .topic-options .item {
   display: flex;
   align-items: center;
} */

.form-item {
   display: flex;
   align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
   width: 20px;
   height: 20px;

   border: 2px solid red;
   border-radius: 50%;
}

.form-item label,
.form-item label {
   margin-left: 10px;
}

/* ===== FORM-RADIO ===== */
.skills-options input[type='radio'] {
   width: 20px;
   height: 20px;
}

/* ===== DATE-TIME-LOCAL ===== */

.form-field .date {
}
/* ===== FORM-BTN ===== */
.form-btn {
   margin-top: 20px;
}

/* ===== FILTER-SIZE-FORM ===== */
.form + .form {
   margin-top: 15px;
}

.size-filter-title {
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
   text-transform: uppercase;
   font-size: 22px;
   line-height: 42px;
   border-bottom: 4px solid red;
}

/* .size-filter-title:after {
   display: block;
   content: '';
   margin-top: 5px;
   width: 50%;
   height: 2px;
   background-color: tomato;
} */

.size-filter-list {
   margin-top: 10px;
}
